body {
  background-color: rgb(217, 243, 170);
}
#csharp, #ruby, #javascript, #python {
  display: none;
}

.form-group {
  font-style: italic;
  font-weight: bold;
}

.radio {
  font-style: italic;
  font-weight: lighter;
}